<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/">Home</a>
        </li>
        <li class="active">Receive Ports & Locations</li>
    </ul><!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
        </form>
    </div><!-- /.nav-search -->\
</div>

<div class="page-content">
    

        <div class="page-header">
            <h1>
                Receive 
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                     Ports &amp; Locations
                </small>
            </h1>
        </div><!-- /.page-header -->

       <div class="form-group">
           <label class="col-sm-3 control-label no-padding-right" style="text-align:right">Filter Results : </label>
           <div class="col-sm-9">
               <input type="text" ng-model="query" id="form-field-1" placeholder="Type Your Query" class="col-xs-10 col-sm-5">
           </div>
       </div>

        <div class="hr hr32 hr-dotted"></div>
           <div class="hr hr-18 dotted hr-double"></div>


        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <table id="sample-table-1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace">
                                            <span class="lbl"></span>
                                        </label>
                                    </th>
                                    <th><a href="" ng-click="order('name', false)"> Receive Port Name</a> (<a href="" ng-click="order('-name',false)">^</a>)</th>
                                    <th><a href="" ng-click="order('applicationName', reverse)"> Application Name</a> (<a href="" ng-click="order('-applicationName',false)">^</a>)</th>
                                    <th class="hidden-480 " style="display:none">Primary RL</th>
                                    <th>
                                        <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                        Receive Location(s)
                                    </th>

                                </tr>
                            </thead>

                            <tbody>
                               <tr ng-repeat="rp in receivePorts | filter:query" >

                                 <td class="center" >
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace">
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td style="overflow-wrap:break-word !important;overflow-x: visible;max-width: 350px;word-wrap: break-word;" >
									    <b >{{rp.name }}</b>
                                    </td>
                                    <td>{{rp.applicationName}}</td>
                                    <td style="display:none">{{rp.primaryRL | limitTo:50}} </td>

                                     <td style="overflow-wrap:break-word !important;overflow-x: visible;max-width: 410px;">
                                        <div id="accordionRP{{$index}}" class="accordion-style1 panel-group no-margin " >
										<div class="panel panel-default"  ng-repeat="rl in rp.rLs">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordionRP{{$parent.$index}}" data-target="#collapse{{$parent.$index}}{{$index}}">
														<i class="bigger-110 ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
														&nbsp;{{rl.name }} &nbsp; 
                                                        <span class="label label-danger arrowed-in pull-right" ng-hide="rl.status">Stopped</span>
                                                        <span class="label label-success arrowed pull-right" ng-show="rl.status">Enabled</span>
													</a>
												</h4>
											</div>

											<div class="panel-collapse collapse" id="collapse{{$parent.$index}}{{$index}}">
												<div class="panel-body">
													<p> TransPort Type : {{rl.transportType}}</p>
                                                    <p style="overflow-wrap: break-word;overflow-x: visible"> Address : {{rl.address}}</p>
												    <p> Pipeline Name : {{rl.pipelineName}}</p>
                                                     <p>
                                                        <div class="alert alert-success" ng-show="rl.transportTypeData">
                                                            <button type="button" class="close" data-dismiss="alert">
                                                                <i class="ace-icon fa fa-times"></i>
                                                            </button>
                                                            <strong>Additional Transport Configuration</strong>
                                                            {{rl.transportTypeData}}
										                <br>
                                                        </div>
                                                       </p>
												</div>
											</div>
										</div>

									</div>
                                    </td>
                                </tr>

                                

                            </tbody>
                        </table>
                    </div><!-- /.span -->
                </div><!-- /.row -->


                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->