@{
    ViewBag.Title = "Home Page";
    ViewBag.InitModule = "homeIndex";
}

<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list" style="top: 0px;">
        <li class="">
            <a href="#/dashboard">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="#/applications">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text"> Applications </span>
            </a>

            <b class="arrow"></b>
        </li>


        <li class="">
            <a href="#/">
                <i class="menu-icon fa fa-list-alt"></i>
                <span class="menu-text"> Receive Ports </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="#/sendports">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Send Ports </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="#/cbr">
                <i class="menu-icon fa fa-pencil-square-o"></i>
                <span class="menu-text"> CBR Routing </span>
            </a>

            <b class="arrow"></b>
        </li>

    </ul><!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>


<div class="main-content">
    
    <!-- Dynamic SPA content is rendered here-->
        <div ng-view></div>
    
</div>

@section jqscripts
{
    @* Specifc to CBR *@
    <script src="~/Scripts/Ace/fuelux.wizard.min.js"></script>

    <script src="~/Scripts/Ace/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Ace/jquery.dataTables.bootstrap.js"></script>

    <script src="~/Scripts/Ace/jquery-ui.custom.min.js"></script>
    <script src="~/Scripts/Ace/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Scripts/Ace/chosen.jquery.min.js"></script>

}

@section ngscripts
{

    @* Angular Plugins  *@
    <script src="~/ng-App/directives/chosen.js"></script>
    <script src="~/ng-App/directives/uiField.js"></script>

    @* Angular Common *@
    <script src="~/ng-App/data/dataServices.js"></script>
    <script src="~/ng-App/directives/directives.js"></script>
    <script src="~/ng-App/js/filters.js"></script>

     @* Controller related Scripts *@
    <script src="~/ng-App/subPages/sendPorts/spController.js"></script>
    <script src="~/ng-App/subPages/receivePorts/rpController.js"></script>
    <script src="~/ng-App/subPages/cbr/cbrController.js"></script>

    @* Module Related Scripts *@
    <script src="~/ng-App/js/home-index.js"></script>

   
}


@section styles
{
    <link href="~/Content/themes/ace/jquery-ui.custom.min.css" rel="stylesheet" />
    <link href="~/Content/themes/ace/chosen.css" rel="stylesheet" />

}