<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/">Home</a>
        </li>
        <li class="active">View Logs</li>
    </ul><!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
        </form>
    </div><!-- /.nav-search -->\
</div>

<div class="page-content">
    

        <div class="page-header">
            <h1>
                View Logs
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                     &amp; Some Useful Information
                </small>
            </h1>
        </div><!-- /.page-header -->

       <div class="form-group">
           <label class="col-sm-3 control-label no-padding-right" style="text-align:right">Filter Results : </label>
           <div class="col-sm-9">
               <input type="text" ng-model="query" id="form-field-1" placeholder="Type Your Query" class="col-xs-10 col-sm-5">
           </div>
       </div>

        <div class="hr hr32 hr-dotted"></div>
           <div class="hr hr-18 dotted hr-double"></div>


        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        <table id="sample-table-1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                   
                                    <th style="width: 100px!important"><a href="" ng-click="order('AppId', false)"> App Id</a> (<a href="" ng-click="order('-AppId',false)">^</a>)</th>
                                    <th style="width: 10%"><a href="" ng-click="order('Module', reverse)"> Module </a> (<a href="" ng-click="order('-Module',false)">^</a>)</th>
                                    <th style="width: 10%">Created</th>
                                    <th style="width: 20%">Message</th>
                                    <th style="width: 25%">Description</th>
                                    <th style="width: 25%" class="hidden-480">
                                        <i class="ace-icon fa fa-clock-o bigger-110 "></i>
                                       Additional Info
                                    </th>

                                </tr>
                            </thead>

                            <tbody>
                               <tr ng-repeat="log in logs | filter:query" >

                                
                                    <td class="tdcolumn">
									    <b >{{log.AppId }}</b>
                                    </td>
                                   <td class="tdcolumn">{{log.Module}}</td>
                                   <td>{{log.Created | date:'MM/dd/yyyy @ h:mma'}} </td>
                                    <td>{{log.Message}} </td>
                                   <td style="max-width: 30%;">{{log.Description}} </td>
                                     <td class="hidden-480" style="overflow-wrap:break-word !important;overflow-x: visible;max-width: 410px;word-wrap:break-word">
                                        <div id="accordionRP{{$index}}" class="accordion-style1 panel-group no-margin " >
										<div class="panel panel-default" >
											<div class="panel-heading">
												<h4 class="panel-title">
													<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordionRP{{$parent.$index}}" data-target="#collapse{{$parent.$index}}{{$index}}">
														<i class="bigger-110 ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
														&nbsp; Additional Info&nbsp; 
                                                       
													</a>
												</h4>
											</div>

											<div class="panel-collapse collapse" id="collapse{{$parent.$index}}{{$index}}">
												<div class="panel-body">
													<p> {{log.AdditionalInfo}}</p>
                                               
												</div>
											</div>
										</div>

									</div>
                                    </td>
                                </tr>

                                

                            </tbody>
                        </table>
                    </div><!-- /.span -->
                </div><!-- /.row -->


                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->